body {
    /* font-family: "Montserrat", sans-serif */
    font-family: 'Open sans', sans-serif !important;
}
.main {
    position: relative;
}
#navbar-brand {
    font-size: 20px;
    font-weight: 600;
}
.navbar-nav a p {
    text-transform: initial;
    font-size: 17px;
    font-weight: 500;
    color:rgb(245, 245, 245)
}
.navbar.navbar-expand-lg {
    background-color: rgb(10, 10, 10);
}
.navbar-translate a span{
    text-transform: initial;
}
.content-center.brand.custom {
    top: 45%;
}
.brand.custom .h1-seo{
    color: rgb(228, 228, 228);
    font-weight: 700;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    margin-bottom: 4rem;
    text-transform: initial;
    opacity: 0.9;
}
.brand.custom p {
    color: rgb(201, 201, 201);
    text-shadow: 1px 1px 1px rgb(50,50,50);
    font-size: 1rem;
    font-weight: 500;
}
.custom-logo {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.3rem;
    border-radius: 50%;
    box-shadow: 0px 0px 20px red;
}

.footer ul.custom li {
    display:block;
    font-size:1rem;
    font-weight: 400;
    margin-bottom:0.3rem;
}
.footer ul.custom li a{
    padding: 0 !important;
}
.footer-block {
    position: relative;
    padding: 0 2rem 1rem 2rem !important;
    align-items: center;
    min-width: 20rem;
}
.footer-block p {
    font-weight: 600;
}
.footer-block:not(:last-child):after {
    position: absolute;
    right: 0;
    top: 10%;
    content: "";
    width:1px;
    height:80%;
    background-color: rgb(24, 24, 24);
}
.page-header.custom {
    background: linear-gradient(90deg, 
                    rgba(0, 0, 0, 1), 
                    rgba(0, 0, 0, 0.7), 
                    rgba(0, 0, 0, 0.35), 
                    rgba(0,0,0,0.2));
}
.brand.custom {
    opacity: 1;
}
footer.footer {
    display: block;
    background-color: rgb(10, 10, 10);
    text-align: center;
}

.custom-contact {
    min-height: calc(70vh);
    margin: 0 10vw;
    text-align: center;
    color: white;
    padding: 1rem;
}
.section.section-contact {
    background-color: rgb(60, 60, 60);
}
.section.section-faq {
    background-color: rgb(55, 55, 55);
}
.section.section-term {
    background-color: #1f1f1f;
    text-align: justify;
    color: white;
    padding: 5rem 1rem;
}
.section-term h2 {
    margin-top: 5rem;
}
.section-term h3 {
    margin-top: 2rem;
}
.section-boost {
    position: absolute;
    top: calc(45vh - 8rem);
    left: 0;
    right: 0;
    z-index: 10;
    overflow-x: auto;
}
.section-reqa {
    color: white;
    position: relative;
    background-color: #202020;
}
.section-reqa .reqa-block {
    font-size: 13pt;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
.section-reqa .reqa-block i{
    color: #1FA227;
    font-size: 53px;
    padding-bottom: 1.3rem;
    padding-top: 0.4rem;
}
.section-reqa .reqa {
    font-size: 13pt;
    position: relative;
    padding: 1rem;
    z-index: 1;
}
.section-reqa .reqa span {
    padding: 1rem;
    cursor: pointer;
}
.section-reqa .reqa p {
    white-space: pre-line;
    font-size: 12pt;
    font-weight: 500;
    text-align: justify;
    color: #DADADA
}
.section.section-order{
    color: #DBDBDB;
    background-color: rgba(48, 48, 49, 0.99);
    text-align: center;
    justify-items: start;
    justify-content:space-between;
}
.section-order .header {
    font-size: 30px;
    font-weight: 600;
    height: 5rem;
}
.section-order img {
    width: 45px;
    height: 45px;
}
.section-order .order-block {
    text-align: left;
    align-items: center;
    margin-left: 1rem;
}
.section-order .order-block img{
    min-width: 3rem;
    min-height: 3rem;
}
.section-order .row {
    border-bottom: 1px solid #252525;
    padding: 2rem 0;
    text-align: center;
}
.section.section-profile {
    background-color: #3a3a3a;
    height: calc(100vh);
}
.section.section-login {
    background-color: #3a3a3a;
    height: calc(100vh);
}
.section.section-login .container-xl {
    height: 100%;
}
.section.section-login .description {
    text-align: center;
}
.section.section-login .row {
    height: 100%;
    align-items: center;
    justify-content: center;
}
.section.section-login .col {
    text-align: center;
    min-width: 30rem;
    max-width: 35rem;
}
.section.section-login h2{
    color: #DADADA;
}
.section.section-review {
    text-align: center;
    color: white;
    background-color: #2A2A2A;
}
.section-review h4 {
    font-size: 30px;
    font-weight: 600;
}
.section-review .header p {
    color: #DBDBDB;
    font-style: italic;
}
.section-review .footer span {
    font-size: 17px;
    font-weight: 600;
}
.slider-item {
    font-size: 16px;
    text-align: left;
}
.slider-item h2 {
    color: rgb(245, 245, 245);
    font-size: 20px;
}
.slider-item p {
    color:rgb(184, 184, 184);
}
.slider-item .date {
    color: rgb(184, 184, 184);
    text-align: right;
}
.bg-order {
    background-color: #37373D !important;
}
.my-btn-black {
    color: white;
    padding: 1rem 2rem;
    background-color: rgba(48, 48, 49, 0.1);
    border: 1px solid rgb(68, 68, 68);
    box-shadow: 0px 10px 30px rgba(30, 30, 30, 0.7);
    border-radius: 50px;
    transition: 0.5s;
}
.my-btn-black:disabled {
    color: rgb(131, 131, 131);
    background-color: rgba(100, 100, 100, 0.1);
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.7);
}
.my-btn-black:hover:not(:disabled) {
    color:rgb(5, 5, 5);
    background-color: lightgray;
}
.my-btn-round {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: white;
    padding: 0.5rem 1.2rem;
    margin: 1rem;
    background-color: rgba(48, 48, 49, 0.99);
    border: 1px solid rgb(56, 56, 56);
    border-radius: 50px;
    transition: 0.5s;
    box-shadow: 0px 10px 20px rgba(30, 30, 30, 0.7);
}
.my-btn-round:hover {
    color:rgb(10, 10, 10);
    background-color: lightgray;
}
.order-block {
    min-width: 10rem;
}
.order-block .order-header {
    color: #CFCECE;
    font-size: 14px;
}
.order-block .order-data {
    line-height: 2;
    font-size: 17px;
    font-weight: 600;
}
.reqa-content {
    width: 55%;
}
.reqa span:hover {
    background-color: rgb(60, 60, 60);
}
@media screen and (max-width: 844px){
    .reqa-content{
        width: 100%;
    }
    .boost-main {
        min-width: 20rem !important;
    }
    .boost-order {
        min-width: 20rem !important;
    }
    .buy-checkout {
        display: none !important;
    }
    .section.section-login .col {
        min-width: 20rem !important;
    }
}
@media screen and (max-width: 1280px){
    .boost-main {
        width: 100% !important;
    }
    .boost-order {
        width: 100% !important;
    }
}
.boost-menu {
    height: 8rem;
    margin: auto;
    color: white;
    background-color: rgb(200,200,200,0.1);
    min-width: 80rem;
}
.boost-content {
    justify-content: center;
    /* background-color: #0f1816; */
    background-color: #191919;
    padding: 1rem;
    padding-bottom: 8rem;
    align-items: center;
    border-top: 1px solid rgb(60, 60, 60);
    color: white;
}
.boost-content select {
    font-family: inherit;
    font-weight: 500;
}
.boost-end {
    position: absolute;
    top: -3rem;
    background-color: #202020;
    height: 10rem;
    width: 100%;
    transform: skewY(2deg);
}
.boost-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 12rem;
    min-width: 10rem;
    transition: 0.3s;
}
.boost-item img {
    width: 42%;
    height: 60%;
}
.boost-item p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}
.boost-item.rocket:hover {
    background-color: rgba(230, 86, 66, 0.25);
}
.boost-item.rocket.active {
    background-color: rgba(230, 86, 66, 0.35);
}
.boost-item.legend:hover {
    background-color: rgba(188, 13, 241, 0.25);
}
.boost-item.legend.active {
    background-color: rgba(188, 13, 241, 0.35);
}
.boost-main {
    width: 90%;
    margin: auto;
    align-items: center;
    font-family: "Open sans", sans-serif;
    padding: 1rem 0;
    min-width: 35rem;
    max-width: 40rem;
}
.boost-main .d-flex {
    align-items: center;
}
.boost-main .d-flex.title{
    font-size: 1.8rem;
    font-weight: 600;
}
.boost-main .d-flex span {
    padding-left: 1rem;
}
.boost-main select {
    color: white;
    font-size: 1rem;
    background-color: rgb(37, 37, 37);
    width: calc(100%);
    padding: 1rem;
    border: none;
    border-radius: 8px;
}
.boost-main .pt-3 select{
    max-width: 20rem;
    padding: 0.7rem;
}
.boost-main h5 {
    color: #e8e8e8;
    font-size: 31px;
    font-weight: 550;
    padding: 0;
    margin: 0;
}
.boost-main img {
    height: 5rem;
    width: 5rem;
}
.boost-main p {
    margin: 0;
    color: #707172;
    margin-bottom: 0.1rem;
}
.fas.fa-play-circle, .fas.fa-crosshairs {
    padding: 3px 10px 0 0;
    font-size: 20px;
}
.boost-order {
    margin: auto !important;
    width: 90%;
    justify-content: center;
    padding: 2rem 0rem 1rem 0rem;
    min-width: 35rem;
    max-width: 40rem;
    height: 30rem;
}
.buy-checkout {
    display: block;
}
.boost-buy {
    border: 4px solid rgb(52, 129, 52);
    border-radius: 15px;
    box-shadow: 0px 0px 5px gray;
}
.boost-star {
    margin-top: 1rem;
    text-align: center;
}
.boost-buy .your-order {
    position: relative;
    border-radius: 10px;
    background-color: #121312;
}
.boost-buy .buy-now {
    padding: 2rem 2rem 1rem 2rem;
    border-radius: 10px;
    background-color: #191919;
}
.boost-buy .buy-now .buy-footer {
    margin-top: 1rem;
    text-align: center;
    color:rgb(184, 184, 184);
    font-style: italic;
    font-size: 16px;
}
.buy-now .price {
    color: #ebb434;
    font-size: 35px;
    font-weight: 600;
}
.boost-btn {
    font-family: "Open sans", sans-serif;
    margin-top: 1rem;
    color: white;
    font-size: 23px;
    font-weight: 500;
    background-color: rgba(52, 129, 52, 0.8);
    padding: 0.7rem 1.5rem;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.15s;
}
.boost-btn:hover {
    box-shadow: 0 0 6px gray;
    opacity: 1;
}
.boost-buy .shield {
    position: absolute;
    right: 12rem;
    top: 1rem;
    content: "";
}
.boost-buy .shield i {
    color: white;
    font-size: 9rem;
    opacity: 0.1;
}
.boost-buy p {
    color: #e8e8e8;
    font-weight: 500;
    margin: 0;
}
.boost-buy .gubel {
    font-size: 14px;
    height: 33px;
}
.boost-buy .gubel i {
    padding: 0;
    font-size: 1rem;
}
.mainCheckout {
    color: #e8e8e8;
    font-size: 17px;
    padding: 2rem 0rem 2rem 2.2rem;
    min-height: 11rem;
    align-items: center;
}
.mainCheckout .check-div{
    height: 33px;
}
.mainCheckout input {
    width: 16px;
    height: 16px;
    margin-right:0.9rem;
}
.mainCheckout input:checked {
    background-color: gray;
}
.mainCheckout label {
    font-size: 18px;
    height: 33px;
}
.your-order i {
    font-size: 30px;
    height: 18px;
    width: 8px;
    padding: 20px 0 0 23px;
    color:rgb(52, 129, 52);
}
.order-badge {
    font-size: 13px !important;
    margin-left: 0.3rem;
    padding: 0.3rem 0.6rem !important;
}
.order-badge.free {
    background-color: transparent !important;
    color: rgb(53, 115, 248);
    border: 2px solid rgb(53, 115, 248);
}
.order-badge.cost {
    background-color: transparent !important;
    color: rgb(219, 146, 51);
    border: 2px solid rgb(219, 146, 51);
}
.order-badge.discount {
    background-color: transparent !important;
    color: rgb(211, 101, 11);
    border: 2px solid rgb(211, 101, 11);
}
.order-badge.disabled {
    background-color: transparent !important;
    color: rgb(88, 88, 88);
    border: 2px solid rgb(88, 88, 88);
}
.custom-faq {
    margin: 0 0;
    color: white;
    text-align: center;
}
.custom-faq .header {
    font-size: 32px;
    font-weight: 600;
}
.custom-faq .sub-header {
    font-style: italic;
}
.custom-faq button {
    width: 100%;
}
.custom-faq .area {
    border: 1px solid rgb(24, 24, 24);
    font-size: 1rem;
    box-shadow: 0px 10px 50px rgb(41, 41, 41);
}
.custom-faq .area button {
    text-align: left;
    color: white;
    background-color: rgb(32, 32, 32);
    border-radius: 0px;
    border: 1px solid rgb(29, 29, 29);
    transition: 0.3s;
    font-size: 16px;
}
.custom-faq .area button:hover {
    background-color: #313131;
}
.custom-faq .area button:focus {
    background-color: #3a3a3a;
}
.custom-faq-content p{
    font-size: 15px;
    text-align: left;
    margin: 0;
}
.btn.btn-primary.custom {
    margin: 0 !important;
}
.input-group textarea {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.input-group-text {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    padding-right: 0.5rem !important;
}
.input-group-text i {
    margin-left: 1rem;
}
.sign-up-link{
    margin-top: 1rem;
    color:rgb(184, 184, 184);
}
.sign-up-link a {
    font-size: 17px;
}
.modal-content {
    color: white;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.1) 0%, rgba(0,0,0.95) 80%, rgba(0,0,0,1) 91%), url("assets/img/modal_header.jpg");
    border: 2px solid #1f1f1f !important;
    border-radius: 10px !important;
}
.modal-content .modal-title {
    font-size: 30px;
    font-weight: 600;
}
.modal-content i {
    font-size: 30px;
    margin-right: 1rem;
}
.modal-content input {
    box-shadow: 1px 1px 10px #0f1816;
    padding: 0.5rem;
    background-color: #161616;
    color: white;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 5px;
    width: 100%;
    min-width: 15rem;
    max-width: 25rem;
}
.modal-content .col p {
    margin: 1rem 0.1rem 0.1rem 0.1rem;
    font-size: 12px;
}
.paypal-btn {
    background-color:#272727 !important;
    border:1px solid #333333 !important;
    box-shadow:0 15px 25px #111111 !important;
    border-radius:50px !important;
    width:100% !important;
    max-width:14rem !important;
    text-align:center !important;
    font-style:italic !important;
    font-size:22px !important;
    font-weight:900 !important;
    opacity: 0.9 !important;
    transition: 0.2s;
}
.paypal-btn:hover {
    box-shadow: 0 5px 10px #141414 !important;
    opacity: 0.9 !important;
}
.paypal-btn:active {
    box-shadow: initial !important;
    opacity: 1 !important;
}
.password-eye:hover {
    opacity: 0.8;
}